/* font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Jim Nightshade', cursive; */

/* Color Schemes
00CECB
FFED66
FFFFEA
D8D8D8
FF5E5B */

@import url('https://fonts.googleapis.com/css?family=Galada|Modak&display=swap');
.main {
/*   container for the whole website */
}

body {
  margin: 0;
  width: 80%;
  background-color: #DDDDDD;
}

/* @keyframes bkgroundchange
    {
      0%   {background: #FF9B85;}
      25%  {background: #FFD97D;}
      50%  {background: #AAF683;}
      75%  {background: #CEC2FF;}
      100% {background: #FF9B85;}
    } */

ul {
  top: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  color: #191970;
  font-size: 32px;
}

div#nav {
  font-family: 'Raleway';
  font-size: 25px;
  width: 15%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: #FFED66;
}

.navinside {
  position: relative;
  margin: 0;
}

.learn {
  position: relative;
  text-align: center;
}

div.title {
  height: 35vh;
  left: 25%;  
  width: 100%;
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: black;
}

div.titlemain {
  height: 20vh;
  left: 25%;  
  width: 100%;
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: black;
}
#iid {
  font-size: 20px;
  color: #FFED66;
  text-shadow: 1px 1.5px black;
}
#titleinner {
  text-shadow: 2px 1px black;
}

div.information {
  height: 30vh;
  left: 25%;  
  width: 100%;
  position: relative;  
  margin: auto;
  justify-content: center;
  display: flex;
}

div.insideinfo {
  height: 30vh;
  left: 0px; 
  right: 0px;
  width: 35%;
  margin: 0px;
  position: relative;
  display: inline-block;  
  border: 1px black solid;
  background-color: #191970;
  opacity: 80%;
  box-shadow: 10px 10px #FFED66;
}


.insidehidden {
  height: 30vh;
  left: 0px;  
  right: 0px;
  width: 10%;
  margin: 0px;
  position: relative;
  display: inline-block;    
}

.info {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
}

.preinfo {
  font-family: 'Raleway';
  font-size: 25px;
  color: #FFED66;
  text-align: center;
  position: relative;
}

.blockclass {
  color: white;
  font-size: 28px;
  font-family: 'Galada', cursive;
  font-weight: normal;
}

.bigdiv {
  border: 5px red solid;
  left: 19%;
  width: 100%;
  display: flex;
  position: relative;
}

.button1 {
  height: 50px;
  width: 45%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  background-color:	#D3D3D3;
  border: 2px black solid;
  box-shadow: 3px 3px 3px grey;
}

#tryit {
  color: #FFED66;
}
/* 
.codeshow {
  border: 5px red solid;
  margin: 0;
  background: yellow;
  position: absolute;
  height: 10em;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
} */
/* div.insideinfo2 {
  height: 30vh;
  left: 0px;  
  right: 0px;
  width: 35%;
  margin: 0px;
  position: relative;
  display: inline-block;  
  border: 1px #003366 solid;
  background-color: #003366;
  opacity: 80%;
  box-shadow: 5px 5px black;
} */

